@import '../../../node_modules/sass-material-colors/sass/sass-material-colors';
@import '../../common/styles/theme';

.html-element {
  text-align: center;
  position: absolute;
  background: $color-accent;
  pointer-events: none;
  user-select: none;
  border-radius: 2px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.available-magnet {
  fill: $color-accent-contrast;
}