@import '~react-toolbox/lib/colors';

$color-divider: var(--palette-grey-200);
$color-background: var(--color-white);
$color-text: var(--palette-grey-900);
$color-text-secondary: var(--palette-grey-500);
$color-primary: var(--palette-blue-grey-500);
$color-primary-dark: var(--palette-blue-grey-700);
$color-accent: var(--palette-amber-a400);
$color-acccent-light: var(--palette-amber-a100);
$color-accent-dark: var(--palette-amber-a700);
$color-primary-contrast: var(--color-dark-contrast);
$color-accent-contrast: var(--color-dark-contrast);

$border-color: rgba(rgb(0, 0, 0), 0.12);
