@import '../../common/styles/theme';

.mainContainer{
  height: calc(100vh - 64px);
  justify-content: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.fullWidth{
  float: right;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 5px;
  background: #ffc400!important;
  &:hover{
    background: #e3ae00!important;
  }
}
.multiSelector{

  &>*{
    flex: 1;
    flex-basis: 49%;
  }

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border: solid 1px rgba(0,0,0,.1);
  border-radius: 3px;
  margin: 0 -8px;
  padding: 8px 8px 0 8px;

  &>:last-child{
    &, *{
      margin-bottom: 0;
    }
  }

  h1{
    font-size: 1.5rem;
    color: rgba(0,0,0,.25);
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(0,0,0,.1);
    span{
      padding-left: 10px;
    }
  }
}

.tagsSelector{
  position: absolute;
  top: 0;
  right: 0;
}

.ac{
  padding: 5px 0 10px 0!important;
  ul:first-child{
    position: relative;
    top: 13px;
  }
}

.miniLoader{
  height: 37px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid 1px rgba(0,0,0,.1);

  div{
    height: 30px;
    width: 30px;
    position: relative;
    left: 50%;
    color: rgba(0,0,0,.25);
    font-style: italic;
  }
}

.loader{
  height: calc(100vh - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid 1px rgba(0,0,0,.1);

  div{
    position: relative;
    top: 40%;
    left: 50%;
    color: rgba(0,0,0,.25);
    font-style: italic;
  }
}

.empty{
  height: calc(100vh - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid 1px rgba(0,0,0,.1);

  p{
    text-align: center;
    position: relative;
    top: 50%;
    color: rgba(0,0,0,.25);
    font-style: italic;
  }
}

.list{
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid 1px rgba(0,0,0,.1);
}

.chips{
  position: relative;
  bottom: 13px;
  padding-left: 6px;
  padding-right: 6px;
}

.autocomplete{
  padding: 0;
  div div::after{
    position: absolute;
    top: 39px;
    border-top: 5.48571px solid rgba(0, 0, 0, 1.12);
  }
  div{
    padding-bottom: 0;
  }
  ul{
    position: absolute;
    top: 81px;
  }
}

.metadata{
  flex-basis: 30%!important;
  top: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 10px;
}

.button{
  position: relative;
  top: 23px;
  background: #ffc400!important;
}

.columns{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;

  &>*{
    flex: 1;
    flex-basis: 49%;
  }
}

.input{
  padding: 25px 0 30px 0;
  align-content: center;
  input{
    width: 98%;
  }
  span{
    width: 98%;
  }
}