@import '../../common/styles/theme';

$toolbarHeight: 48px;

.minHeight{
  margin: 10px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &>h1{
    flex: 0;
    padding: 3rem;
    font-size: 3rem;
    font-family: monospace;
    text-align: center;
  }

  &>img{
    height: 100%;
  }

  div{
    float:right;
    height: 50%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mainContainer{
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &>h1{
    flex: 0;
    padding: 3rem;
    font-size: 3rem;
    font-family: monospace;
    text-align: center;
  }

  &>img{
    flex: 0;
  }

  &>.toolbar{
    position: absolute;
    height: $toolbarHeight;
    top: 0;
    left: 0;
    right: 0;
  }

  &>.editor{
    position: absolute;
    top: $toolbarHeight;
    left: 0;
    right: 0;
    height: calc(100% - #{$toolbarHeight});
  }

  &>.taskDialog{
    position: absolute;
    top: 50px;
    right: 8px;
    overflow: hidden;
    height: calc(100% - 60px);
    transition: top 0.5s
  }

  .toggled{
    top: calc(100vh - 100px);
    transition: top 0.5s
  }
}
